/* google font*/
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lemonada', cursive;
}

body {
    height: 100vh;
    overflow: hidden;

}

.content {
    background-color: yellow;
    width: 70%;
    margin: 0 auto;
    height: calc(100% - 50px - 100px);
}

nav {
    color: white;
    background-color: #c2c2c2;
    height: 64px;
    text-align: center;
    border: 3px solid red;
    width: 100%;

}

.icon-rabbit {
    border: 1px solid orange;
    display: inline-block;
    background-color: orange;
    border-radius: 10px;
}

.icon-rabbit:hover {
    background-color: blue;
}

.icon-rabbit img {
    height: 60px;
    vertical-align: bottom;
}

.icon-rabbit span {
    font-size: 25px;
    line-height: 50px;
}

.select {
    position: relative;
    border: 1px solid orange;
    display: inline-block;
    height: 63px;
    width: 180px;
    vertical-align: top;
    line-height: 60px;
    border-radius: 10px;
    color: white;
    background-color: black;
    /*text-align: center;*/
}

footer {
    background-color: green;
    color: white;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.content-inner {
    position: absolute;
    left: -170px;

    animation-name: run;
    animation-delay: 1s;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.content img {
    height: 100px;
}


@keyframes run {
    from {
        left: -170px;

        border: 10px solid greenyellow;
    }
    to {
        border: 10px solid darkgreen;

        left: 100%;
    }
}

/* state 2*/
@media screen and (max-width: 800px) {
    body {
        background-color: green;
    }

    .icon-rabbit img {
        margin: 0;
    }
    .icon-rabbit span {
        font-size: 0px;
    }
    .select{
        display: none;
    }
    .content{
        width: 100%;
    }


    @keyframes run {
        0% {
            left: 100%;
            transform: rotate(0deg);
            top: 140px;
            /*color: red;*/
        }
        25% {
            transform: rotate(70deg);
            top: 150px;
        }

        50% {
            transform: rotate(0deg);
            top: 140px;
        }
        75% {
            transform: rotate(20deg);
            top: 150px;
        }
        100% {
            left: -170px;
            transform: rotate(0deg);
            top: 140px;
        }
    }

}

/* state 1*/
@media screen and (min-width: 800px) {
    body {
        background-color: red;
    }
    .select{
        /*background-color: orange;*/
    }

    @keyframes run {
        0% {
            left: -170px;
            transform: rotate(0deg) scaleX(-1);
            top: 140px;
        }
        25% {
            transform: rotate(20deg) scaleX(-1);
            top: 150px;
        }

        50% {
            transform: rotate(0deg) scaleX(-1);
            top: 140px;

        }
        75% {
            transform: rotate(20deg) scaleX(-1);
            top: 150px;
        }
        100% {
            left: 100%;
            transform: rotate(0deg) scaleX(-1);
            top: 140px;
        }
    }

}

